<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Вучым польскi</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Вучым польскi", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated && User.IsInRole("Admin") == false)
                    {
                        <li>@Html.ActionLink("Заняткi", "LessonsForYou", "Lessons")</li>
                        <li>@Html.ActionLink("Мой профiль", "MyProfil", "Profiles")</li>
                        <li>@Html.ActionLink("Улюбленные", "Favorite", "Favorites")</li>
                        <li>@Html.ActionLink("Паутарыць", "Index", "Repeats")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Заняткi", "AllLessons", "Lessons")</li>
                    }

                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Паземы", "Index", "Modules")</li> 
                        <li>@Html.ActionLink("Заняткi дадаць", "Index", "Lessons")</li> 
                        <li>@Html.ActionLink("Тэст", "Index", "Exams")</li>
                        <li>@Html.ActionLink("Пытання", "Index", "Questions")</li>
                        <li>@Html.ActionLink("Профiлi", "Index", "Profiles")</li>
                    } 
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Вучым польскi</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
  
</body>
</html>
