@model LearnPolish.Models.Lesson

@{
    ViewBag.Title = "Delete";
}

<h2>Выдаліць</h2>

 
<div>
    <h4>Заняткі</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Module.ModulLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Module.ModulLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LessonName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LessonName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Выдаліць" class="btn btn-default" /> |
    @Html.ActionLink("Да лiсты", "Index", new { area = "" }, new { @class = "btn btn-outline-dark" }))
</div>
    }
</div>
